<!DOCTYPE html>
<html>
<head>
    <title>Kaiy | My Story</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <div class="collapse navbar-collapse" id="navbarText">
                            <span class="navbar-text"> <img width="30" height="30" class="d-inline-block align-top" alt="Logo" src="/static/img/pfp.png" />{{sessionUser}}</span>
                        </div>
                    </li>
                </ul>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Introduction</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="./index">Personal</a></li>
                            <li><a class="dropdown-item" href="./StoryOfKaiy">Story Of Kaiy</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">My Work</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="./Art">Art</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Sokkatto</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="./sokkatto">What Is Sokkatto</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Account</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/logout">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="parOffset d-flex justify-content-center">
        <h3>
            Literature
        </h3>
    </div>
    <div class="d-flex justify-content-center">
        <p>
            To me, reading is my main form of escape from reality. I have read many <br>
            books and stories. The books I have read are for example 1984, The perks <br>
            of being a wallflower and many more. I have also read stories online <br>
            like <a href="https://universe.leagueoflegends.com/en_GB/story/champion/kayn/">Kayns biography</a> from the game league of legends or the <br>
            classic just going through reddit posts reading hundreds of pages <br>
            a day. 
        </p>
    </div>
    <div class="d-flex justify-content-center">
        <img src="../static/img/1984.jpeg" width="334" height="512">
    </div>
    <div class="d-flex justify-content-center parOffset">
        <p>
            However it also important to keep in mind that I also write essays <br>
            and my own stories. Prime example being <a href="https://docs.google.com/document/d/1FDck6uOKmwuQNjn0Gl1cmydNnxJUxg9ox6EbGxrxTYg/edit?usp=sharing">report on book 1984</a>. There   <br>
            are ofcourse many more but that is propably the best example of my work.
        </p>
    </div>
    <div class="parOffset d-flex justify-content-center">
        <h3>
            Philosophy
        </h3>
    </div>
    <div class="d-flex justify-content-center">
        <p>
            Philosophy is by many considered boring. But is it really? I have <br>
            spent hundreds of hours analizing different philosophies. Most memorable <br>
            The art of war, The art of not giving a fuck, Taoism but many others <br>
            as well. Philosophy became a big part of my life. The biggest influence <br>
            being "What does it mean to be a man?" which is a philosophy about <br>
            toxic masculinity and how it affects the life of people around us. <br>
            "There is no glory in blood, no respect in enemy submission, no honor <br>
            in violence, no power in anger when it cannot heal what is lost, only <br>
            a fragile hope that these little soliders might come marching home" <br>
            -Hello future me, What does it mean to be a man?
        </p>
    </div>
    <div class="d-flex justify-content-center">
        <img src="../static/img/mako.png" width="628" height="420">
    </div>
    <footer class="bg-dark py-5 mt-5">
        <div class="container text-light text-center">
            <p class="display-5 mb-3">
                Kaiy Co.
            </p>
            <small class="text-white-50">&copy; MIT license.</small>
        </div>
    </footer>
</body>
</html>
