<!DOCTYPE html>
<html>
<head>
    <title>Kaiy | Personal</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <div class="collapse navbar-collapse" id="navbarText">
                            <span class="navbar-text"> <img width="30" height="30" class="d-inline-block align-top" alt="Logo" src="/static/img/pfp.png" />{{sessionUser}}</span>
                        </div>
                    </li>
                </ul>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Introduction</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Personal</a></li>
                            <li><a class="dropdown-item" href="#">Story Of Kaiy</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">My Work</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Art</a></li>
                            <li><a class="dropdown-item" href="#">Literature</a></li>
                            <li><a class="dropdown-item" href="#">Philosophy</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Sokkatto</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">What Is Sokkatto</a></li>
                            <li><a class="dropdown-item" href="#">How It All Started</a></li>
                            <li><a class="dropdown-item" href="#">Current progress</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Account</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/logout">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    
    <div id="demo" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
            <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
            <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="../static/img/kayn.png" alt="Los Angeles" class="d-block" style="width:100%">
                <div class="carousel-caption">
                    <h4>“I was born into a nation of despair and I alone am the remedy.”</h4>
                    <p>-Kayn</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="../static/img/When_the_sun_sets_alone.png" alt="sunset" class="d-block" style="width:100%">
                <div class="carousel-caption">
                    <h4>“Even the sun sets all alone.”</h4>
                    <p>-Kaiy</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="../static/img/wattImg.png" alt="New York" class="d-block" style="width:100%">
                <div class="carousel-caption">
                    <h4>“Some things are unchangable, like the power of old wines.”</h4>
                    <p>-lorem Ipsum</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
            <span class="carousel-control-next-icon"></span>
        </button>
    </div>
    <div class="parOffset d-flex justify-content-center">
        <h1 class="parOffset">
            About me
        </h1>
    </div>
    <div class="parOffset d-flex justify-content-center">
        <img src="../static/img/pfp.png" width="112px" height="112px">
        <p class="offset">Name: Jára "Kaiy" Judl <br> Age: 16 <br> Favourite song: <a href="https://www.youtube.com/watch?v=xN1WOlptE58">Dreamer</a></p>
    </div>
    <div class="parOffset d-flex justify-content-center">
        <h3>
            In detail
        </h3>
    </div>
    <div class="d-flex justify-content-center">
        <p>
            Hello, my name is Jára "Kaiy" Judl and I would like to introduce myself to you. I was born on the 28th of Octomber 2006 <br>however my story will start just a bit later.
            When I was around 6 years old to be exact.
        </p>
    </div>
    <div class="parOffset d-flex justify-content-center">
        <h3>
            My first computer
        </h3>
    </div>
    <div class="d-flex justify-content-center">
        <p>
            When I was just 6 years old I used to watch my brother play games on his computer. He only played 3 games and that being <br> 
            World of Tanks, Shakes and Fidget and to this day one of my personal favourites Metin2. I used to play on his accounts when <br>
            I was young but soon I made my own. Then, just few months later, I instead started using my sisters laptop because she barely <br>
            ever used it. This was also the first time I ever broke a computer (I thought I could unfreeze a computer by knocking on its screen).<br>
        </p>
    </div>
    <div class="parOffset d-flex justify-content-center">
        <h3>
            Why IT?
        </h3>
    </div>
    <div class="d-flex justify-content-center">
        <p>
            Before I wanted to be an IT specialist, I wanted to be about as everything every boy has ever wanted. Garbage man, Sniper in the army, <br>
            Firefighter, just to name a few. However, I truly realised how much I love technology at just 9 years old when I made my first ever script <br>
            that shut down a computer. If I remember correctly it was someting like "Shutdown -s -t 1".
        </p>
    </div>
    <div class="parOffset d-flex justify-content-center">
        <h3>
            Whats next? 
        </h3>
    </div>
    <div class="d-flex justify-content-center">
        <p>
            I plan to become a Game Dev. My goal would be game studios like Riot Games, Battlestate Games or Facepunch studios.
        </p>
    </div>
    <footer class="bg-dark py-5 mt-5">
        <div class="container text-light text-center">
            <p class="display-5 mb-3">
                Kaiy Co.
            </p>
            <small class="text-white-50">&copy; Copyright MIT license.</small>
        </div>
    </footer>
</body>
</html>
