<!DOCTYPE html>
<html>
<head>
    <title>Kaiy | My Story</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <div class="collapse navbar-collapse" id="navbarText">
                            <span class="navbar-text"> <img width="30" height="30" class="d-inline-block align-top" alt="Logo" src="/static/img/pfp.png" />{{sessionUser}}</span>
                        </div>
                    </li>
                </ul>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Introduction</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="./index">Personal</a></li>
                            <li><a class="dropdown-item" href="./StoryOfKaiy">Story Of Kaiy</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">My Work</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="./Art">Art</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Sokkatto</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="./sokkatto">What Is Sokkatto</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Account</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/logout">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="parOffset d-flex justify-content-center">
        <h3>
            My story
        </h3>
    </div>
    <div class="d-flex justify-content-center">
        <p>
            The kid who would later be known as Kaiy, was once just an average kid, just making his first nick name to use<br>
            for the whole new world called "The internet". I wanted something close to my real name and something that sounds<br>
            cool. I decided for the name "JardexX" as the combination of my real name Jára and game portal "FortexX Gaming".<br>
        </p>
    </div>
    <div class="d-flex justify-content-center">
        <p>
            This was the begining, a kid, a dream and a whole lot of mistakes to be made. JardexX is to this day the nemesis <br>
            of myself. It's a person that I am but no longer want to be. I created new nick name as an escape from my problems. <br>
            It was the name my older brother used on one of his accounts in Metin2 - WhiteSnow. It was the image of myself that <br>
            I wanted to be. Me who is not a cheater or untrust-worthy liar. However it wasn't long before I realised that I <br>
            cannot escape my past.
        </p>
    </div>
    <div class="d-flex justify-content-center">
        <img src="../static/img/Many_sleepless_nights.png" alt="Many sleepless nights" width="512" height="512">
    </div>
    <div class="parOffset d-flex justify-content-center">
        <h3>
            The nick Kaiy
        </h3>
    </div>
    <div class="d-flex justify-content-center">
        <p>
            So this was it. I have experienced my highs and lows and I was ready to face the reality. I can't escape what <br>
            I was and the last thing that remains is to find the middle ground. I was not perfect but I have learned. <br>
            So after nearly a year, I changed my nick name one last time. This time forever. I chose Kaiy as the <br>
            combination of Kay from my favourite show when I was a kid and "iY" to still keep myself reminded of <br>
            where I come from. Since then I learned to accept the reality of things and I managed to face myself, <br>
            regardless of what life threw at me. 
        </p>
    </div>
    <div class="d-flex justify-content-center">
        <p>
            My profile picture actualy captures this progression of my life on the internet. A figure standing <br>
            on top of a hill, over looking the landscape. A tree Picea glauca "Sanders Blue" representing my <br>
            birth tree, giant cloud representing how great the world really is and most importantly the sun set. <br>
            The sun set represents the days which are now long gone. Quote "Even the sun sets alone" has much more <br>
            to uncover than what it may seem. 
        </p>
    </div>
    <div class="d-flex justify-content-center">
        <img src="../static/img/When_the_sun_sets_alone.png" width="1024" height="512">
    </div>
    <p class="parOffset d-flex justify-content-center">PS: Thanks to &nbsp;<a href="https://www.instagram.com/alt_makes_things/">@alt_makes_things</a>&nbsp;for this awesome art</p>
    <footer class="bg-dark py-5 mt-5">
        <div class="container text-light text-center">
            <p class="display-5 mb-3">
                Kaiy Co.
            </p>
            <small class="text-white-50">&copy; MIT license.</small>
        </div>
    </footer>
</body>
</html>
